<%= form_for(@photo) do |f| %>
<%=  f.hidden_field :user_id, :value => current_user.id %>
<div>
  <%= f.file_field :image %>
</div>
<div>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.submit 'Add' %>
</div>
<% end %>
